@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font-titulos-principais: "Young Serif", serif;
    --font-text: "Outfit", sans-serif;
    --cor1: hsl(14, 45%, 36%);
    --cor2: hsl(332, 51%, 32%);
    --cor3: hsl(0, 0%, 100%);
    --cor4: hsl(330, 100%, 98%);
    --cor5: hsl(30, 54%, 90%);
    --cor6: hsl(30, 18%, 87%);
    --cor7: hsl(30, 10%, 34%);
    --cor8: hsl(24, 5%, 18%);
}

html{
    height: 100%;
    width: 100%;
}

body{
    font-family: var(--font-text);
    background-color: var(--cor5);
    padding: 5% 0%;
}

/*Principal*/
main{
    background-color: var(--cor3);
    max-width: 550px;
    min-width: 60vw;
    margin: auto;
    padding: 2.5vw;
    border-radius: 2vw;
}
main ul,ol{
    list-style-type: none;
    list-style-position: inside;
}
main li{
    margin: 1.1vw 0vw;
}
main img{
    max-width: 100%;
    min-width: 60vw;
    margin-bottom: 1.5vw;
    border-radius: 1vw;
}
main h1, h2{
    font-family: var(--font-titulos-principais);
    margin-bottom: 3vw;
}
h1{
    font-size: 2.4vw;
    color: var(--cor8);
}
main p,ul,ol,td{
    font-size: 1.53vw;
    color: var(--cor7);
    margin-bottom: 2vw;
    line-height: 1.5em;
}
h2{
    font-size: 1.9vw;
    font-weight: normal;
    color: var(--cor1);
}
main div{
    padding: 3vw 0vw;
}
main hr{
    background-color: var(--cor6);
    border: 0px;
    height: 0.5px;
}

/*ID`s*/
/*Tempo de preparo*/
#time{
    background-color: var(--cor4);
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 1vw;
    margin: 2vw 0vw 2vw 2vw;
}
#time > h2{
    font-family: var(--font-text);
    font-size: 1.6vw;
    color: var(--cor2);
}
#time li::before{
    color: var(--cor2);
    content: "\00A0\00A0\2022";
    padding-right: 2vw;
}

/*Ingredientes*/
#ingrediente li::before{
    color: var(--cor1);
    content: "\00A0\00A0\2022";
    padding-right: 2vw;
}

/*Instruções*/
#instrucoes ol{
    counter-reset: item;
}
#instrucoes li::before{
    font-weight: bold;
    color: var(--cor1);
    content: counter(item) ".";
    counter-increment: item;
    padding-right: 2vw;
}

/*Tabela de nutrição*/
#nutri table{
    width: 100%;
}
#nutri td{
    padding: 1vw;
    width: 50%;
}
#nutri td{
    margin-left: 50vw;
}
.num{
    font-weight: bold;
    color: var(--cor1);
}

/*Rodapé*/
footer p{
    font-size: 1.53vw;
    padding: 2%;
}
footer a{
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor1);
}
footer a:hover{
    text-decoration: underline;
}